html {
  box-sizing: border-box;
}

header {
  background-color: #ffe500;
  text-align: center;
}

h1 {
  font-family: "Sigmar One", sans-serif;
  color: #b20953;
  font-size: 3rem;
  margin-bottom: 0;
}

h2 {
  font-family: "Sigmar One", sans-serif;
  color: #b20953;
  font-size: 1.875rem;
}

nav {
  padding: .2em;
}

li {
  display: inline-block;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
  font-family: Georgia, serif;
  background-color: #b2a212;
  border-radius: 4px;
  padding: .5em;
}

a:hover {
  background-color: #cc1465;
}

.home, .blue, .grapes, .red {
    background-color: #cc1465;
}

img {
  display: inline-block;
  width: 400px;
}

p {
  display: inline-block;
  font-family: Georgia, serif;
  color: #2f2d13;
  font-size: 1.125rem;
}

footer {
  font-family: Georgia, serif;
  color: #2f2d13;
  font-size: .75rem;
}
