html {
  box-sizing: border-box;
  font-family: Georgia, sans-serif;
  line-height: 1.5;
  width: 400px;
}

body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  width: 400px;
  background-color: #ffe500;
  height: 7rem;
}

h1 {
  font-family: "Sigmar One", sans-serif;
  color: #b20953;
  font-size: 3rem;
  margin: 0;
  margin-bottom: -9px;
  text-align: center;
}

h2 {
  display: inline-block;
  font-family: "Sigmar One", sans-serif;
  color: #b20953;
  font-size: 1.875rem;
  /* margin-bottom: -5px; */
  padding: .3em;
}

nav {
  padding: 0;
  display: inline;
  width: 100%;
}

li {
  display: inline-block;
  white-space: nowrap;
  margin-bottom: 2rem;
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
  font-family: Georgia, serif;
  background-color: #b2a212;
  border-radius: 4px;
  padding: .2em;
  margin: 0;
}

a:hover {
  background-color: #cc1465;
}

.home, .blue, .grapes, .red {
  background-color: #b20953;
}

img {
  display: block;
  width: 100%;
  padding: .5em;
}

p {
  display: inline-block;
  font-family: Georgia, serif;
  color: #2f2d13;
  font-size: 1.1rem;
  padding: 0 .75em;
}

footer {
  font-family: Georgia, serif;
  color: #2f2d13;
  font-size: .75rem;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #ffe500;
  padding-top: 15px;
  line-height: 30px;
}
